@import "tailwindcss";

@theme {
  --color-secondary: #27187E;
  --color-tertiary: #7371FC;
}

::-webkit-scrollbar {
  @apply hidden
}

.active hr {
  @apply block
}

@media (max-width: 740px) {
  .active p {
    @apply text-secondary bg-gray-100 font-bold
  }
}