@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: Inter;
}

@theme {
  --color-primary: #CDC1FF;
  --color-secondary: #27187E;
  --color-tertiary: #7371FC;
}

::-webkit-scrollbar {
  @apply hidden
}

.active hr {
  @apply block
}

@media (max-width: 740px) {
  .active p {
    @apply text-secondary bg-gray-100 font-bold
  }
}